.background{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        .gif {
            height: 270px;
            width: 480px;
            text-align: center;

            h1{
                color: white;

            }
        }
}

$color_royal_purple_approx: rebeccapurple;

.react-rotating-text-cursor {
	animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
@keyframes blinking-cursor {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.test {
	color: $color_royal_purple_approx;
}